.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: var(--navbar-background);
}

.navbar__list {
    display: flex;
    list-style: none;
}

.navbar__item {
    color: var(--navbar-text-color);
    position: relative;
    background-color: var(--dark-background-color);
    padding: 25px 15px;
    cursor: pointer;
}

.navbar__link {
    color: var(--navbar-text-color);
}

.navbar__item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--accent-color);
    transform-origin: right;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.navbar__item:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

@media screen and (max-width: 880px) {
    .nav-contact {
        display: none;
    }
}